%table.table-bordered.table-hover
  %thead
    %tr
      %th
        = sortable 'url', 'URL', true
      %th
        = sortable 'description', 'DESCRIPTION', true
      %th
        = sortable 'source', 'SOURCE', true
      %th

  %tbody
    - @sites.each do |site|
      %tr
        %td= site.url
        %td= site.description
        %td= site.source
        %td= link_to 'Edit', edit_site_path(site), remote: true

= paginate @sites, remote: true
